
// Uncomment this line to ask the clients to omit their client-side decorations
// if possible. If the client will specifically ask for CSD, the request will
// be honored. Additionally, clients will be informed that they are tiled,
// removing some client-side rounded corners. This option will also fix
// border/focus ring drawing behind some semitransparent windows. After
// enabling or disabling this, you need to restart the apps for this to take
// effect.
prefer-no-csd


// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    off
}


cursor {
    xcursor-theme "catppuccin-latte-peach-cursors"
}


layout {
    // Set gaps around windows in logical pixels.
    gaps 8

    border {
      off
    }

    focus-ring {
        // How many logical pixels the ring extends out from the windows.
        width 2

        // Color of the ring on the active monitor.
        active-color "#3d97b888"

        // Color of the ring on inactive monitors.
        inactive-color "#505050"
    }

    shadow {
      // off by default
    }

    // Struts shrink the area occupied by windows, similarly to layer-shell
    // panels. You can think of them as a kind of outer gaps. They are set in
    // logical pixels. Left and right struts will cause the next window to the
    // side to always be visible. Top and bottom struts will simply add outer
    // gaps in addition to the area occupied by layer-shell panels and regular
    // gaps.
    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}


// Enable rounded corners for all windows.
window-rule {
    geometry-corner-radius 8
    clip-to-geometry true
}
