
input {
    touchpad {
        tap
        dwt
        dwtp
        natural-scroll
    }

    mouse {
    }

    trackpoint {
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    // warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already
    // fully on screen.
    focus-follows-mouse
}
