// Find more information on the wiki:
// https://yalter.github.io/niri/Configuration:-Outputs
// Remember to uncomment the node by removing "/-"!

output "eDP-1" {
    // Upper built-in monitor
    mode "2880x1800@120.000"
    scale 1.8  // logical size 1600x1000
    transform "normal"
    position x=0 y=0
}

output "eDP-2" {
    // Lower built-in monitor
    off
    mode "2880x1800@120.000"
    scale 1.8  // logical size 1600x1000
    transform "normal"
    position x=0 y=1000
}

// Home monitor
output "Dell Inc. DELL U2720Q 9N9NW13" {
    mode "3840x2160@59.997"
    scale 2.16  // logical size 1779x1000
    transform "normal"
    position x=1600 y=0
}

// DataLab desk monitor
output "Dell Inc. DELL P2715Q 54KKD79C936L" {
    mode "3840x2160@30.000"
    scale 2.16  // logical size 1779x1000
    transform "normal"
    position x=1600 y=0
}
