environment {
    // GDK_SCALE "2"
    GDK_DPI_SCALE "0.825"
    // QT_DEVICE_PIXEL_RATIO "2"
}


binds {
    Mod+Escape { spawn "loginctl" "lock-session"; }
    Mod+Shift+Escape { spawn "systemctl" "suspend"; }

    // The quit action will show a confirmation dialog to avoid accidental
    // exits.
    Mod+Delete { quit; }

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }

    // Powers off the monitors. To turn them back on, do any input like moving
    // the mouse or pressing any other key.
    Mod+Shift+P { power-off-monitors; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // Applications such as remote-desktop clients and software KVM switches may
    // request that niri stops processing the keyboard shortcuts defined here
    // so they may, for example, forward the key presses as-is to a remote machine.
    // It's a good idea to bind an escape hatch to toggle the inhibitor,
    // so a buggy application can't hold your session hostage.
    //
    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    // Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
}


hotkey-overlay {
    // Disable the "Important Hotkeys" pop-up at startup.
    skip-at-startup
}
