#!/bin/bash
#
# .xprofile
#
# This file is executed on DM login, regardless of the selected session.


# Most DMs don't run TTY login scripts by default, so do that here.
[[ -r ~/.bash_profile ]] && source ~/.bash_profile


# Keyboard Settings
# =================
# Map Alt_R to Compose.
setxkbmap -option 'compose:ralt'

# Map Capslock to F14.
#xmodmap -e "remove Lock = Caps_Lock"
#xmodmap -e "keysym Caps_Lock = F14"

# Note: instead of using xmodmap, now Capslock is remapped through XKB in
# /usr/share/X11/xkb/symbols/pc
#
# (Just set key <CAPS> to F14)


# Display Settings
# ================
# Fix the monitor's scaling mode in case we use a low resolution.
#xrandr --output LVDS --set "scaling mode" "Full aspect"

# Add custom resolution 2400x1800 to laptop display.
xrandr --newmode "2400x1800" \
  368.50   2400 2592 2848 3296   1800 1803 1807 1865   -hsync +vsync
xrandr --addmode eDP-1 2400x1800

# Flux
# ====
# Redshift monitor at night.
xflux -z 95618
